@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
    body {
        @apply font-Montserrat 
    }
    
}

.header .toggleMenu{
    transform: scaleX(-1);
}

.header .toggleMenu span {
    height: 0.2rem;
    width: 2rem; 
    @apply bg-Gray block mb-1 
}

.header .toggleMenu span:nth-child(2){
    width: 1.5rem;
    
}

.header .toggleMenu span:nth-child(3){
    width: 0.8rem;
}

.MobileNav{
    max-height: 0;
    overflow: hidden;
}

.MobileNav.active{
    max-height: 500px;
}

.checkIcon i{
    text-align: center;
    line-height: 32px;
    width: 32px;
    height: 32px;
    background: #72c276;
    border: 1px solid #72c276 ;
    border-radius: 100%;
}




